<li>
<div style="background: #EEEEEE; padding: 12px; margin-top: -8px;">
    <div style="float:left; width:75px; overflow:hidden; height: 75px;">
        <a href='###URL###'><img src='###SINGLEIMG###' style='width:75px; height:75px;' /></a>
    </div>
    <div style="float:left; width: calc(100% - 85px); margin-top: -6px; margin-left:10px; padding-top: 10px;">
        <p id="sc-owner" style="font-family: Lato, sans-serif;">Sponsored Content</p>
        <a href='###URL###'style='font-size: 10.5pt; margin-top: -6px; line-height: 1.2em; font-family: Lato, sans-serif !important;'>###SINGLETITLE###</a>           
        <p id='sc-author' style='font-family: Lato, sans-serif; margin-top: 2px;'>###SINGLEAUTHOR###</p>   
    </div>
    <div style="clear: both"></div>
</div>
</li>