<div id="sp-mini-box" class="colpad colm" style="width: 426px !important;">
    <div style="width: 130px; height: 125px; overflow: hidden; float: left; margin-right: 15px;">
        <a href="###URL###"><img src="###FEATURED###" style="width: 100%;"></a>
    </div> 
    <div style="padding-top: 15px; width: 65%; float: right;">
        <p id="sc-owner">Sponsored Content</p>
        <h1 style="font-size: 11pt; margin-top: -6px; line-height: 1.2em; width: 85%;">
            <a href="###URL###">###TITLE###</a>
        </h1>
        <p id="sc-author">###AUTHOR###</p>
    </div>
</div> 
<div style="clear:both;"></div>
<div class="greyline"></div>